@font-face {
    font-family: "Minecraft";
    src: url("../font/MinecraftRegular.otf");
}

body {
    overflow: hidden;
}

.lang {
    display: block;
    position: absolute;
    width: 8vh;
    left: calc(100% - 9vh);
    top: 1vh;
    height: calc(8vh * 0.73);
    background: url("../images/hotbar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8vh;
    cursor: pointer;
    & > div.flag {
        display: block;
        position: absolute;
        width: 8vh;
        height: calc(8vh * 0.73);
        background: url("../flags/flag_eng.png");
        background-repeat: no-repeat;
        background-size: calc(6vh * 0.73);
        background-position: center;
    }
    & > input.lang-c {
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }
    & > div.lang-dropdown {
        display: grid;
        position: absolute;
        top: calc(8vh * 0.73);
        left: calc(100% - 8vh);
        width: 8vh;
        height: 0vh;
        cursor: default;
        transition: 0.5s;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        & > div {
            cursor: pointer;
        }
        & > div.eng {
            background: url("../images/hotbar.png");
            background-repeat: no-repeat;
            background-size: 8vh;
            background-position: center;
            & > div {
                background: url("../flags/flag_eng.png");
                background-repeat: no-repeat;
                background-size: calc(6vh * 0.73);
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }
        & > div.sk {
            background: url("../images/hotbar.png");
            background-repeat: no-repeat;
            background-size: 8vh;
            background-position: center;
            & > div {
                background: url("../flags/flag_sk.png");
                background-repeat: no-repeat;
                background-size: calc(6vh * 0.73);
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }
        & > div.cz {
            background: url("../images/hotbar.png");
            background-repeat: no-repeat;
            background-size: 8vh;
            background-position: center;
            & > div {
                background: url("../flags/flag_cz.png");
                background-repeat: no-repeat;
                background-size: calc(6vh * 0.73);
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }
        & > div.ussr {
            background: url("../images/hotbar.png");
            background-repeat: no-repeat;
            background-size: 8vh;
            background-position: center;
            & > div {
                background: url("../flags/flag_ussr.png");
                background-repeat: no-repeat;
                background-size: calc(6vh * 0.73);
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}


.lang:hover {
    background: url("../images/hotbar_selection.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8vh;
}

.lang-c:checked {
    & + .lang-dropdown {
        height: calc(8vh * 0.73 * 4);
    }
}

.main {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    div.background {
        display: grid;
        position: relative;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background: url("../images/dirt.png");
        background-size: calc(100vw / 16);
        background-repeat: repeat;
        grid-template-rows: 1fr 1fr 1fr;

    }
    div.title {
        display: block;
        margin: 0 auto;
        background: url("../images/title.png");
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position: center;
        width: 80vh;
    }
    div.buttons {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 60vh;
        max-width: 1000px;
        height: 18vh;
        row-gap: 2vh;
        & > div {
            background: url("../images/button.png");
            background-repeat: no-repeat;
            background-size: 60vh;
            height: 6vh;
            background-position: center;
            text-align: center;
            cursor: pointer;
            font-family: "Minecraft";
            font-size: 3vh;
            color: white;
            & > span {
                display: block;
                padding-top: 1.2vh;
            }
        }
        & > div:hover {
            background: url("../images/button_highlighted.png");
            background-repeat: no-repeat;
            background-size: 60vh;
            background-position: center;
        }
    }
}

.server {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    div.background {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background: url("../images/dirt.png");
        background-size: calc(100vw / 16);
        background-repeat: repeat;
    }
    div.title-bar {
        display: block;
        position: absolute;
        width: 100vw;
        height: 10vh;
        text-align: center;
        align-content: center;
        & > span {
            font-family: "Minecraft";
            color: white;
            font-size: 3vh;
        }
    }
    div.left-right {
        display: grid;
        position: absolute;
        top: 10vh;
        width: 100vw;
        height: 70vh;
        max-height: 70vh;
        background-color: rgba(0, 0, 0, 0.5);
        border-top: 1vh solid rgba(0, 0, 0, 0.5);
        border-bottom: 1vh solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        grid-template-columns: 1fr min-content 1fr;
        column-gap: 1vh;
        & > div.left {
            display: grid;
            background-color: rgba(0, 0, 0, 0.2);
            margin: 2vh;
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content 1fr;
            grid-template-areas: 
                'favicon title'
                'details details';
            & > img.image {
                margin-top: 5vh;
                margin-left: 5vh;
                height: 17vh;
            }
            & > div.title {
                font-family: "Minecraft";
                color: white;
                margin-top: 5vh;
                margin-right: 5vh;
                margin-left: 2vh;
                height: 17vh;
                & > span.server-title {
                    font-size: 4vh;
                }
                & > span.server-desc {
                    font-size: 2.5vh;
                    opacity: 0.9;
                }
            }
            & > div.footer {
                grid-area: 'footer';
                grid-column: span 2;
                display: block;
                position: relative;
                margin: 5vh;
                font-family: "Minecraft";
                font-size: 2.5vh;
                color: white;
            }
        }
        & > div.divider {
            width: 1vh;
            height: 60vh;
            margin-top: 4vh;
            background-color: rgba(0, 0, 0, 0.8);
        }
        & > div.right {
            margin: 2vh;
            background-color: rgba(0, 0, 0, 0.2);
            font-family: "Minecraft";
            color: white;
            overflow-y: hidden;
            max-height: 70vh;
            box-sizing: border-box;
            border: 10px 10px 10px;
            & > div.title {
                font-size: 4vh;
                margin-top: 5vh;
                margin-left: 5vh;
            }
            & > ul.player-list {
                font-size: 2.5vh;
                margin-left: 2.5vh;
                margin-bottom: 7vh;
                & > li {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    padding: 1vh;
                    margin: 1vh;
                    border-radius: 3px;
                    background-color: rgba(100, 100, 100, 0.8);
                    max-width: 40vh;
                }
                & > li > img {
                    width: 5vh;
                }
                & > li > span {
                    margin-left: 3vh;
                    margin-top: 1vh;
                }
            }
        }
    }
    div.footer-bar {
        display: block;
        position: absolute;
        width: 100vw;
        height: 20vh;
        top: 80vh;
        align-content: center;
        & > div.button {
            display: block;
            margin: 0 auto;
            font-family: "Minecraft";
            color: white;
            background: url("../images/button.png");
            background-repeat: no-repeat;
            background-size: 60vh;
            height: 6vh;
            width: 60vh;
            padding-top: 1.2vh;
            text-align: center;
            cursor: pointer;
            & > span {
                font-size: 3vh;
            }
        }
        & > div.button:hover {
            background: url("../images/button_highlighted.png");
            background-repeat: no-repeat;
            background-size: 60vh;
            height: 6vh;
            width: 60vh;
        }
    }
}

.dynmap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    div.background {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background: url("../images/dirt.png");
        background-size: calc(100vw / 16);
        background-repeat: repeat;
    }
    div.title-bar {
        display: block;
        position: absolute;
        width: 100vw;
        height: 8vh;
        text-align: center;
        align-content: center;
        & > span {
            font-family: "Minecraft";
            color: white;
            font-size: 3vh;
        }
    }
    div.frame {
        display: block;
        position: absolute;
        width: 100vw;
        height: 75vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.5);
        & > iframe {
            margin: 2.5vh;
            width: calc(100% - 7vh);
            height: calc(100% - 7vh);
            border: 1vh solid rgba(0, 0, 0, 0.5);
        }
        & > iframe:fullscreen {
            margin: 0;
            width: 100vw;
            height: 100vh;
        }
        & > div.fullscreen {
            position: absolute;
            width: 5vh;
            height: 5vh;
            top: 3.5vh;
            left: calc(100% - 8vh);
        }
    }
    div.footer-bar {
        display: grid;
        position: absolute;
        width: 100vh;
        height: 15vh;
        top: 84vh;
        left: calc(50vw - 50vh);
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        color: white;
        font-family: "Minecraft";
        text-align: center;
        column-gap: 2vh;
        font-size: 3vh;
        & > div {
            align-content: center;
            background: url("../images/button-small.png");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 6vh;
            cursor: pointer;
        }
        & > div:hover {
            background: url("../images/button_highlighted-small.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}