body {
    overflow: hidden;
}

.background {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: url("../images/dirt.png");
    background-size: calc(100vw / 12);
    background-repeat: repeat;
}