@font-face {
    font-family: "Minecraft";
    src: url("../font/MinecraftRegular.otf");
}

main {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: url("../images/dirt.png");
    background-size: calc(100vw / 16);
    background-repeat: repeat;
    & > div.sidebar {
        display: grid;
        position: absolute;
        width: 25vw;
        grid-template-rows: min-content 1fr;
        align-content: center;
        justify-items: center;
        & > div.logo {
            background: url("./logo.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 30vh;
            height: 30vh;
        }
        & > div.buttons {
            text-align: center;
            align-content: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
            font-family: "Minecraft";
            font-size: 2vw;
            row-gap: 1vw;
            & > div {
                align-content: center;
                height: 8vh;
                width: 20vw;
                background-image: url("../images/button-small.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                cursor: pointer;
            }
            & > div:hover {
                align-content: center;
                height: 8vh;
                width: 20vw;
                background-image: url("../images/button_highlighted-small.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                cursor: pointer;
            }
        }
    }
    & > div.info {
        display: none;
        position: absolute;
        width: 75vw;
        height: 100vh;
        padding: 7%;
        left: 25vw;
        font-family: "Minecraft";
        font-size: 3.5vh;
        background-color: rgba(0, 0, 0, 0.2);
    }

    & > div.container-fluid {
        display: block;
        width: 75vw;
        left: 12.5vw;
        background-color: rgba(0, 0, 0, 0.2);
    }
    & > div.console {
        display: none;
        position: absolute;
        width: 75vw;
        height: 100vh;
        padding: 2.5%;
        left: 25vw;
        background-color: rgba(0, 0, 0, 0.2);
        & > iframe {
            width: 100%;
            height: 100%;
            border: 5px solid rgba(0, 0, 0, 0.5);
        }
    }
}